%section.chat-main
  .chat-main__group-info
    .left-items
      .left-items__group-name
        group name
      .left-items__member-lists
        member
        .left-items__member
    .edit-btn
      = link_to "#", class: "edit-btn__btn" do
        ="Edit"
  .chat-main__tweet-lists
    .tweet
      .tweet__info
        .tweet__info__user-name
          ユーザー名
        .tweet__info__date
          date
      .tweet__value
        tweet内容
  .chat-main__tweet-input-form
    = form_for [@group, @message] do |f|
      .form
        = f.text_field :tweet, class: "form__tweet", placeholder: "type a messege"
        = f.label :"choose-pic-btn", class: "form__pic" do
          = f.file_field :'choose-pic-btn', class: "form__pic__choose-btn"            
          = icon('far','file-image')
      = f.submit "Send", class: "new_message__submit-btn"
