.chat-main
  .chat-main__group-info
    .left-items
      .left-items__group-name
        group name
      .left-items__member-lists
        member
        .left-items__member
    .edit-btn
      = link_to "#", class: "edit-btn__btn" do
        ="Edit"
  .chat-main__tweet-lists
    = render '@messages'
  .chat-main__tweet-input-form
    = form_for[@group, @message] do |f|
      .input-field
        = f.text_field :tweet, class: "input-field__tweet", placeholder: 'type a messege'
        =f.label :choose-pic-btn, class: "input-field__pic" do
          =f.file_field :choose-pic-btn, class: 'input-field__pic__choose-btn'
          = icon('far','file-image')
      =f.submit 'Send', class: "form__submit-btn"